.rowDivs{
    display: flex;
    flex-direction: row;
    
}

#container{
    margin: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
}

.sizebtndiv{
    display: flex;
    justify-content: center;
    padding-top: 25px;
}